<div class="row text-center bg-secondary p-3 mt-3">
    <div class="col-12 text-Light d-flex flex-column justify-content-center align-items-center">
        <h1 class="bg-dark p-3">Cobrar Impuestos</h1>
        <label for="monto1">Monto 1:</label>
        <input type="text" name="monto1" id="monto1" class="form-control mb-2 text-center w-75" placeholder="0.00">

        <label for="monto2">Monto 2:</label>
        <input type="text" name="monto2" id="monto2" class="form-control mb-2 text-center w-75" placeholder="0.00">

        <label for="monto3">Monto 3:</label>
        <input type="text" name="monto3" id="monto3" class="form-control mb-2 text-center w-75" placeholder="0.00">

        <br>
        
        <div class="mensajes_result_content mb-3">
            <label for="">Meta: S/.1,000</label><br>
            <label for="">Cobro Total: </label>
            <span id="result_promedio"></span><br>

            <label for="">Resultado: </label>
            <span id="estado_promedio"></span><br>
            
            <span id="mensajeError" class="text-center"></span><br>
        </div>

        <div class="container_btns col-12 justify-content-center">
            <button class="btn btn-success col-12 col-sm-4 mb-3" onclick="cobrarImpuestos()">Calcular</button>
            <button class="btn btn-success col-12 col-sm-4 mb-3" onclick="borrar()">Borrar</button>
            <a href="index.php?name=proyectos" class="btn btn-danger col-12 col-sm-4 mb-3">Salir</a>
        </div>
        <div class="container_btns col-12 justify-content-center">
            <a href="index.php?name=ejercicio2" class="btn btn-success col-12 col-sm-5 mb-3">Siguiente Ejercicio</a>
        </div>
    </div>
</div>